.breadcrumbs {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.33em;
    color: #A2A2A2;
    margin-bottom: 0;

    & > li {
        &:not(:last-child) {
            &:after {
                content: '/';
                margin-left: 0.5rem;
                margin-right: 0.5rem;
            }
        }
    }

    & a {
        transition: all .3s ease;
        opacity: 1 !important;
        &:hover {
            color: $textColor;
        }
    }
}
