*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
aside,
nav,
footer,
header,
section {
	display: block;
}
html.has-scroll-smooth {
	overflow: hidden;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
html {
	height: 100%;
	font-size: 10px;

	@media (min-width: 1921px) {
		font-size: 12px;
	}

	@media (min-width: 2561px) {
		font-size: 14px;
	}

	@media (max-width: $md1+px) {
		font-size: 8px;
	}

	@media (max-width: $md2+px) {
		font-size: 8px;
	}
	@media (max-width: $md3+px) {
		font-size: 10px;
	}

	--titleFontFamily: "IvyMode", sans-serif;

	&[lang="uk"] {
		--titleFontFamily: "Noto Serif Display", serif;
	}
}

html,
body {
	min-width: $minwidth;
	margin: 0 auto;
}
body {
	line-height: 1;
	font-family: $mainFontFamily;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	color: $textColor;
	font-weight: 300;
	font-size: 1.8rem;
	line-height: 1.33em;
	transition: opacity 0.8s ease;
	position: relative;
	min-height: 100%;
	display: flex;
	flex-direction: column;

	@media (max-width: $md3+px) {
		font-size: 14px;
	}

	&:not(.mobile) {
		& a:not(.not-hover):hover {
			opacity: 0.7;
		}
	}

	&::-webkit-scrollbar {
		width: 4px;
		height: 4px;
	}
	&::-webkit-scrollbar-thumb {
		background: #4e4e4e;
		border-radius: 10px;
	}
	&::-webkit-scrollbar-thumb:hover {
		background: #fff;
	}
	&::-webkit-scrollbar-track {
		background: #fff;
		border-radius: 10px;
		box-shadow: inset 0px 0px 0px 0px #fff;
	}

	&.menu-is-open {
		& .main-logo {
			@media (min-width: 992px) {
				opacity: 0;
				visibility: hidden;
			}

			& path {
				fill: #000 !important;
			}
		}
	}

	&.logo-is-hide {
		& .main-logo {
			transform: translateY(-200%);

			@media (max-width: $md2+px) {
				transform: translateY(-200%);
			}
		}
	}
}

body.logo-white:not(.header-is-scroll) {
	& .main-logo path {
		fill: #fff;
	}
}

.c-scrollbar {
	display: none;
}

input,
button,
textarea {
	font-family: $mainFontFamily;
}
input::-ms-clear {
	display: none;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a {
	transition: all 0.3s ease;
	color: inherit;
}
a:hover {
	text-decoration: none;
	color: inherit;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}

.img-svg {
	height: 1em;
	width: auto;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

button {
	box-shadow: none;
	outline: none;
	border: none;
	background-color: transparent;
}

h1,
.title-1 {
	font-family: var(--titleFontFamily);
	font-weight: 600;
	font-size: 4.2rem;
	line-height: 1.33em;

	@media (max-width: $md3+px) {
		font-size: 36px;
	}
}

h2,
.title-2 {
	font-family: var(--titleFontFamily);
	color: $titlceColor;
	font-weight: 600;
	font-size: 3.6rem;
	line-height: 1.33em;

	@media (max-width: $md3+px) {
		font-size: 20px;
	}
}

h3,
.title-3 {
	font-family: var(--titleFontFamily);
	color: $titlceColor;
	font-weight: 600;
	font-size: 3.2rem;
	line-height: 1.25em;
}
h4,
.title-4 {
	color: $titlceColor;
	font-weight: 600;
	font-size: 2.4rem;
	line-height: 1.33em;

	@media (max-width: $md3+px) {
		font-size: 20px;
	}
}
h5,
.title-5 {
	color: $titlceColor;
	font-weight: 600;
	font-size: 1.8rem;
	line-height: 1.25em;

	@media (max-width: $md3+px) {
		font-size: 16px;
	}
}

h6,
.title-6 {
	color: $titlceColor;
	font-weight: 600;
	font-size: 1.4rem;
	line-height: 1.33em;
}

p,
ul,
ol,
figure {
	margin-bottom: 1rem;
}

._page {
}

.main-wrapper {
	overflow: hidden;
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
}

._page {
	flex: 1 1 auto;
}

.container {
	width: calc(100% - 60px);
	max-width: 180rem !important;
	margin: 0 auto;
	padding: 0;

	@media (max-width: $md1+px) {
		width: calc(100% - 60px);
	}

	@media (max-width: $md2+px) {
		width: calc(100% - 60px);
		max-width: none !important;
	}
	@media (max-width: $md3+px) {
		width: calc(100% - 40px);
	}
}
.container-sm {
	width: calc(100% - 60px);
	max-width: 146rem !important;
	margin: 0 auto;
	padding: 0;

	@media (max-width: $md1+px) {
		width: calc(100% - 60px);
	}

	@media (max-width: $md2+px) {
		width: calc(100% - 60px);
		max-width: none !important;
	}
	@media (max-width: $md3+px) {
		width: calc(100% - 40px);
	}
}

.padding-wrap {
	padding: 6rem 0;

	@media (max-width: $md3+px) {
		padding: 36px 0;
	}
}
.padding-wrap-md {
	padding: 13rem 0;

	@media (max-width: $md3+px) {
		padding: 36px 0;
	}
}

.p-120 {
	padding-top: 12rem;

	@media (max-width: $md3+px) {
		padding-top: 72px;
	}
}

.ibg {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

.object-fit-contain {
	object-fit: contain !important;
}

._svg path {
	fill: currentColor;
}

.circle-arrow {
	& .arrow {
		animation: upDown 2s ease infinite;
	}
}

.link {
	padding-right: 3.6rem;
	position: relative;
	padding-left: 0;

	&:after {
		position: absolute;
		font-family: "icomoon" !important;
		content: "\e903";
		top: 53%;
		right: 0;
		transform: translateY(-50%);
		transition: all 0.3s ease;
		font-size: 0.8em;
	}

	@media (min-width: 992px) {
		&:hover {
			&:after {
				transform: translateY(-50%) translateX(20%);
			}
		}
	}
}

@keyframes upDown {
	0% {
		transform: translateY(-10%);
	}
	50% {
		transform: translateY(10%);
	}
	100% {
		transform: translateY(-10%);
	}
}

[data-padding-top-header-size] {
	padding-top: 9.4rem;

	@media (max-width: $md2+px) {
		padding-top: 7rem;
	}
}

[data-tab-content] {
	display: none;

	&.tab-active {
		display: block;
		animation: tabs-content 0.6s ease forwards;
	}

	@keyframes tabs-content {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
}

[data-spoller-trigger] {
	& + * {
		display: none;
	}
}

.text-primary {
	color: $mainColor !important;
}

.text-secondary {
	color: $textColorSecondary !important;
}

.text-success {
	color: $successColor !important;
}

.text-danger {
	color: $dangerColor !important;
}

.text-info {
	color: $infoColor !important;
}

.text-dark {
	color: $textColor !important;
}

.text-light {
	color: $secondColor !important;
}

.bg-primary {
	background: $mainColor !important;
}

.bg-secondary {
	background: $secondColor !important;
}

.bg-success {
	background: $successColor !important;
}

.bg-danger {
	background: $dangerColor !important;
}

.bg-info {
	background: $infoColor !important;
}

.bg-dark {
	background: $textColor !important;
}

.bg-light {
	background: $lightColor !important;
}

.order-6 {
	order: 6 !important;
}

.w-sm-auto {
	@media (min-width: 576px) {
		width: auto !important;
	}
}

.mw-md-70 {
	@media (min-width: 768px) {
		max-width: 70% !important;
	}
}

.pb-0-mob {
	@media (max-width: $md3+px) {
		padding-bottom: 0 !important;
	}
}

.text-md {
	font-weight: 300;
	font-size: 28px;
	line-height: 1.5em;

	@media (max-width: $md3+px) {
		font-size: 14px;
	}
}

.text-sm {
	font-weight: 300;
	font-size: 2.2rem;
	line-height: 1.5em;

	@media (max-width: $md3+px) {
		font-size: 14px;
	}
}
.text {
	font-weight: 300;
	font-size: 1.8rem;
	line-height: 1.33em;

	@media (max-width: $md3+px) {
		font-size: 14px;
	}
}

.last {
	& > *:last-child {
		margin-bottom: 0;
	}
}

i {
	font-weight: inherit;
}

// === TEXT CONTETN BLOCK ========================================================================
.text-content {
	h1 {
		font-family: var(--titleFontFamily);
		font-weight: 600;
		font-size: 4.2rem;
		line-height: 1.33em;
	}

	h2 {
		font-family: var(--titleFontFamily);
		color: $titlceColor;
		font-weight: 600;
		font-size: 3.6rem;
		line-height: 1.33em;
	}

	h3 {
		font-family: var(--titleFontFamily);
		color: $titlceColor;
		font-weight: 600;
		font-size: 3.2rem;
		line-height: 1.25em;
	}
	h4 {
		color: $titlceColor;
		font-weight: 600;
		font-size: 2.4rem;
		line-height: 1.33em;
	}
	h5 {
		color: $titlceColor;
		font-weight: 600;
		font-size: 1.8rem;
		line-height: 1.25em;

		@media (max-width: $md3+px) {
			font-size: 16px;
		}
	}

	h6 {
		color: $titlceColor;
		font-weight: 600;
		font-size: 1.4rem;
		line-height: 1.33em;
	}

	& h1,
	& h2,
	& h3,
	& h4,
	& h5,
	& h6 {
		margin-bottom: 0.6em;
	}

	& p,
	& ul,
	& ol,
	& figure {
		margin-bottom: 1.5em;
	}

	& strong {
		font-weight: 600;
	}

	& ul {
		padding-left: 3em;

		@media (max-width: $md3+px) {
			padding-left: 1.5em;
		}

		& > li {
			list-style: disc;

			&:not(:last-child) {
				margin-bottom: 0.7em;
			}

			& > *:last-child {
				margin-bottom: 0;
			}
		}
	}

	& ol {
		padding-left: 3em;

		@media (max-width: $md3+px) {
			padding-left: 1.5em;
		}

		& > li {
			&:not(:last-child) {
				margin-bottom: 0.7em;
			}

			& > *:last-child {
				margin-bottom: 0;
			}
		}
	}

	& figure {
		display: block;
		width: 100%;
		margin: 8rem 0;

		@media (max-width: $md2+px) {
			margin: 80px 0;
		}
		@media (max-width: $md3+px) {
			margin: 50px 0;
		}

		& > img {
			display: block;
			width: 100%;
			height: auto;
		}

		& + h1,
		& + h2,
		& + h3,
		& + h4,
		& + h5,
		& + h6 {
			margin-top: 0rem !important;
		}
	}

	& video {
		object-fit: cover;
		display: block;
		width: 100%;
		height: 60rem;
		margin: 8rem 0;

		@media (max-width: $md2+px) {
			height: 500px;
			margin: 80px 0;
		}
		@media (max-width: $md3+px) {
			height: 380px;
			margin: 50px 0;
		}
	}

	& iframe {
		display: block;
		width: 100%;
		height: 60rem;
		margin: 8rem 0;

		@media (max-width: $md2+px) {
			height: 500px;
			margin: 80px 0;
		}
		@media (max-width: $md3+px) {
			height: 380px;
			margin: 50px 0;
		}
	}

	& table {
		margin: 9rem 0;

		@media (max-width: $md2+px) {
			margin: 80px 0;
		}
		@media (max-width: $md3+px) {
			margin: 50px 0;
		}

		& + h1,
		& + h2,
		& + h3,
		& + h4,
		& + h5,
		& + h6 {
			margin-top: 0rem !important;
		}
	}

	& p,
	& ul,
	& ol,
	& figure,
	& h1,
	& h2,
	& h3,
	& h4,
	& h5,
	& h6 {
		& ~ h1,
		& ~ h2,
		& ~ h3,
		& ~ h4,
		& ~ h5,
		& ~ h6 {
			margin-top: 3rem;

			@media (max-width: $md3+px) {
				margin-top: 2rem;
			}
		}
	}
}
.quote {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: 94.2rem;
	position: relative;

	@media (max-width: $md2+px) {
		max-width: none;
		padding-left: 11rem;
	}

	@media (max-width: $md3+px) {
		padding-left: 49px;
	}

	&:before {
		position: absolute;
		content: "“";
		font-family: $mainFontFamily;
		font-size: 30rem;
		line-height: 1em;
		left: 0;
		top: 0;
		transform: translate(-111%, -26%);
		font-weight: 400;

		@media (max-width: $md2+px) {
			transform: translate(0%, -28%);
		}

		@media (max-width: $md3+px) {
			font-size: 120px;
		}
	}

	&__author {
		font-family: var(--titleFontFamily);
		color: $titlceColor;
		font-size: 3rem;
		line-height: 1.33em;
		font-weight: 400;

		@media (max-width: $md3+px) {
			font-size: 14px;
		}
	}
}
.title-with-arrow {
	@media (min-width: 992px) {
		position: relative;

		&:before {
			position: absolute;
			content: "\e901";
			font-family: "icomoon" !important;
			top: 50%;
			transform: translateY(-50%);
			font-size: 2.3rem;
			line-height: 1em;
			right: calc(100% + 7.6rem);
			font-weight: 300;
		}
	}
}
// === and TEXT CONTETN BLOCK ========================================================================
