.footer {
    position: relative;
    z-index: 30;
    padding-top: 6rem;
    margin-top: auto;

    @media (min-width: 768px) {
        border-top: 1px solid #000;
        padding-top: 0;
    }

    &__body {
        display: flex;
        align-items: center;
        gap: 2rem;
        min-height: 6rem;
        font-family: var(--titleFontFamily);
        padding: 1rem 0;

        @media (max-width: $md2+px) {
            flex-wrap: wrap;
        }

        @media (max-width: $md3+px) {
            gap: 2rem 1rem;
            flex-wrap: wrap;
        }
    }

    &__copy {
        font-size: 1.2rem;
        line-height: 1.25em;

        @media (max-width: $md3+px) {
            font-weight: 300;
            order: 5;
            flex: 0 1 calc(50% - 0.5rem);
        }
    }

    &__social {
        padding-left: 0;
        margin-bottom: 0;
        font-weight: 300;
        font-size: 1.8rem;
        line-height: 1.78em;
        display: flex;
        align-items: center;
        gap: 3rem;
        margin-left: auto;
        margin-right: auto;

        @media (max-width: $md2+px) {
            flex: 0 1 100%;
            order: -1;
            justify-content: space-between;
        }

        @media (max-width: $md3+px) {
            flex-wrap: wrap;
            gap: 0.2rem 1rem;
            font-weight: 300;
            font-size: 15px;
            line-height: 32px;
            order: 3;

            & > li {
                flex: 0 1 calc(50% - 0.5rem);
            }
        }

        & a {
            
                &:hover {
                    opacity: 1 !important;
                    color: $titlceColor;
                    text-decoration: underline;
                }
            
        }
    }

    &__links {
        padding-left: 0;
        margin-bottom: 0;
        font-weight: 300;
        font-size: 1.8rem;
        line-height: 1.78em;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;

        @media (max-width: $md2+px) {
            flex: 0 1 100%;
            order: -1;
            justify-content: space-between;
        }

        @media (max-width: $md3+px) {
            display: flex;
            flex-wrap: wrap;
            gap: 0.2rem 1rem;
            font-weight: 300;
            font-size: 15px;
            line-height: 32px;
            order: 3;

            & > * {
                flex: 0 1 calc(50% - 0.5rem);
            }

            & > span {
                display: none;
            }
        }

        & a {
            
                &:hover {
                    opacity: 1 !important;
                    color: $titlceColor;
                    text-decoration: underline;
                }
            
        }

        @media (min-width: 768px) {
            & .footer__payment-cards {
                padding-left: 1.8rem;
                position: relative;
                margin-left: 1.8rem;
    
                &:before {
                    position: absolute;
                    content: '';
                    top: 50%;
                    left: 0;
                    width: 1px;
                    height: 2.6rem;
                    transform: translateY(-50%);
                    background-color: #000;
                }
            }
        }

    }

    &__payment-cards {
        margin-right: auto;
        display: flex;
        gap: 1.6rem;


        & > * {
            flex: 0 0 auto;
        }

        & img {
            height: 1.8rem;
            width: auto;
            display: block;
        }
    }

    &__language {
        display: flex;
        flex: 0 0 auto;

        @media (max-width: $md3+px) {
            flex: 0 1 calc(50% - 0.5rem);
            margin-left: -1rem;
            order: 1;
        }
    }

    &__currency {
        display: flex;
        flex: 0 0 auto;
        @media (max-width: $md3+px) {
            flex: 0 1 calc(50% - 0.5rem);
            margin-right: 0;
            order: 2;
        }
    }

    &__logo {
        display: flex;
        align-items: center;
        gap: 2rem;
        margin-left: auto;

        @media (max-width: $md3+px) {
            order: 4;
            flex: 0 1 calc(50% - 0.5rem);
            gap: 0.7rem;
        }
    }

    &__logo-label {
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 1.25em;
        flex: 0 0 auto;

        @media (max-width: $md3+px) {
            font-weight: 300;
            text-transform: none;
        }
    }

    &__logo-img {
        width: 100%;
        max-width: 11.5rem;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width: $md3+px) {
            max-width: 76px;
        }

        & img {
            width: 100%;
            height: auto;
        }
    }

    &--mob {
        @media (min-width: 768px) {
            display: none;
        }
    }
}

.dropdown {
    position: relative;
    font-family: var(--titleFontFamily);
    font-size: 1.8rem;
    text-transform: uppercase;
    line-height: 1.78em;
    cursor: pointer;
    align-self: center;
    height: 100%;

    &:hover {
        & .dropdown__list {
            visibility: visible;
            opacity: 1;
            transform: translateY(0);
        }
    }

    &__title {
        padding: 0 1rem;
        position: relative;
        padding-right: 1.8rem;
        &:before {
            font-family: "icomoon" !important;
            position: absolute;
            content: "\e910";
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            font-size: 0.8em;
        }
    }

    &__list {
        position: absolute;
        bottom: 100%;
        padding: 1rem;
        margin-bottom: 0;
        transition: all 0.3s ease;
        visibility: hidden;
        opacity: 0;
        transform: translateY(-2rem);

        & > li {
            &:not(:last-child) {
                margin-bottom: 1rem;
            }
        }
    }
}
