.portfolio {
    padding-top: 10.5rem;
    padding-bottom: 12rem;

    @media (max-width: $md3+px) {
        padding: 60px 0;
    }

    &__title {
        margin-bottom: 4rem;
        font-family: $titleFontFamily;
        font-weight: 600;
        font-size: 14rem;
        line-height: 1.33em;
        text-align: center;
        text-transform: uppercase;
        margin-top: 0;

        @media (max-width: $md2+px) {
            font-size: 10rem;
        }

        @media (max-width: $md3+px) {
            font-size: 32px;
            margin-bottom: 12px;
            text-align: left;
        }
    }

    &__subtitle-wrap {
        margin: 0 auto 11rem;
        width: 100%;
        max-width: 119.6rem;

        @media (max-width: $md3+px) {
            margin-bottom: 40px;
        }
    }

    &__subtitle {
        margin-left: auto;
        width: 100%;
        max-width: 46.1rem;

        @media (max-width: $md3+px) {
            max-width: none;
        }
    }

    &__list {
        padding-left: 0;
        margin-bottom: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 0 2rem;

        @media (max-width: $md3+px) {
            display: block;
        }

        & > li {
            width: 100%;

            &:not(:last-child) {
                margin-bottom: 12rem;

                @media (max-width: $md3+px) {
                    margin-bottom: 75px;
                }
            }

            @media (min-width: 768px) {
                &.item-1 {
                    width: 954 / 1446 * 100%;
                    margin-left: auto;
                    margin-right: auto;
                }

                &.item-2 {
                    width: 345 / 1446 * 100%;
                    margin-right: auto;
                    align-self: center;

                    & .portfolio-card__bottom {
                        max-width: 34.5rem;
                    }
                }
                &.item-3 {
                    width: 953 / 1446 * 100%;
                }

                &.item-4 {
                    width: 466 / 1446 * 100%;
                    margin-left: auto;
                    margin-right: auto;

                    & .portfolio-card__bottom {
                        max-width: 34.5rem;
                    }
                }
                &.item-5 {
                    width: 710 / 1446 * 100%;
                    margin-bottom: 1rem;
                    margin-top: 32rem;
                }

                &.item-6 {
                    width: 466 / 1446 * 100%;
                    margin-left: 7%;
                    margin-bottom: 8.4rem;

                    & .portfolio-card__bottom {
                        max-width: 34.5rem;
                    }
                }

                &.item-7 {
                    width: 85.6%;
                    margin-left: auto;
                    margin-right: auto;
                }
                &.item-8 {
                    width: 710 / 1446 * 100%;
                    margin-top: 34rem;
                    margin-bottom: 0rem;
                }
                &.item-9 {
                    width: 466 / 1446 * 100%;
                    margin-left: auto;
                    margin-right: auto;
                    align-self: flex-start;

                    & .portfolio-card__bottom {
                        max-width: 34.5rem;
                    }
                }
                &.item-10 {
                    width: 85.6%;
                    margin-left: auto;
                    margin-right: auto;
                }
            }

            @media (max-width: $md3+px) {
                &:nth-child(10n + 1) {
                }

                &:nth-child(10n + 2) {
                    width: 73.43%;
                    margin-left: auto;
                }
                &:nth-child(10n + 3) {
                }

                &:nth-child(10n + 4) {
                    width: 73.43%;
                }
                &:nth-child(10n + 5) {
                }

                &:nth-child(10n + 6) {
                    width: 73.43%;
                }

                &:nth-child(10n + 7) {
                    width: 73.43%;
                    margin-left: auto;
                }
                &:nth-child(10n + 8) {
                }
                &:nth-child(10n + 9) {
                    width: 73.43%;
                }
                &:nth-child(10n + 10) {
                }
            }

            &.list-br {
                flex: 0 1 100% !important;
                width: 100% !important;
                margin-bottom: 0 !important; 
                margin-top: 0 !important;
            }
        }
    }

    &--second {
        padding-top: 13.2rem;

        @media (max-width: $md3+px) {
            padding-top: 30px;
        }
    }

    &--short {
        & .portfolio__list {
            & > li {
                @media (min-width: 768px) {
                    &:not(:last-child) {
                        margin-bottom: 18rem;
                    }

                    &:nth-child(12n + 1) {
                        width: 85.6%;
                        margin-left: auto;
                        margin-right: auto;
                    }
    
                    &:nth-child(12n + 2) {
                        width: 345 / 1446 * 100%;
                        margin-right: auto;
                        align-self: center;
    
                        & .portfolio-card__bottom {
                            max-width: 34.5rem;
                        }
                    }
                    &:nth-child(12n + 3) {
                        width: 953 / 1446 * 100%;
                    }
    
                    &:nth-child(12n + 4) {
                        width: 710 / 1446 * 100%;
                        margin-left: auto;
                        margin-right: auto;
    

                    }
                    &:nth-child(12n + 5) {
                        width: 466 / 1446 * 100%;
                        margin-bottom: 1rem;
                        margin-top: 32rem;

                        & .portfolio-card__bottom {
                            max-width: 34.5rem;
                        }
                    }
    
                    &:nth-child(12n + 6) {
                        width: 466 / 1446 * 100%;
                        margin-left: 7%;
                        margin-bottom: 8.4rem;
    
                        & .portfolio-card__bottom {
                            max-width: 34.5rem;
                        }
                    }
    
                    &:nth-child(12n + 7) {
                        width: 85.6%;
                        margin-left: auto;
                        margin-right: auto;
                    }
                    &:nth-child(12n + 8) {
                        margin-top: 0;
                        width: 587 / 1446 * 100%;
                        margin-bottom: 18rem;
                    }
                    &:nth-child(12n + 9) {
                        width: 466 / 1446 * 100%;
                        margin-left: auto;
                        margin-right: auto;
    
                        & .portfolio-card__bottom {
                            max-width: 34.5rem;
                        }
                    }
                    &:nth-child(12n + 10) {
                        width: 85.6%;
                        margin-left: auto;
                        margin-right: auto;
                    }
                    &:nth-child(12n + 11) {
                        width: 588 / 1446 * 100%;
                        margin-right: auto;
                    }
                    &:nth-child(12n + 12) {
                        width: 466 / 1446 * 100%;
                        margin-left: auto;
                        margin-right: auto;
                        margin-top: 3rem;

                        & .portfolio-card__bottom {
                            max-width: 34.5rem;
                        }
                    }
                }
    
            }
        }
    }

    &--long {
        & .portfolio__list {
            & > li {
                @media (min-width: 768px) {
                    &:not(:last-child) {
                        margin-bottom: 18rem;
                    }

                    &.item-1 {
                        width: 832 / 1446 * 100%;
                        margin-right: auto;
                        margin-left: 0;
                        margin-top: 0;
                    }
                    &.item-2 {
                        width: 1196 / 1446 * 100%;
                        margin-right: auto;
                        margin-left: auto;
                        margin-top: 0;
                    }
                    &.item-3 {
                        width: 709 / 1446 * 100%;
                        margin-top: 5rem;
                    }
                    &.item-4 {
                        width: 345 / 1446 * 100%;
                        margin-left: auto;
                        margin-right: 9%;
                        margin-top: 0;
    
                        & .portfolio-card__bottom {
                            max-width: 34.5rem;
                        }
                    }
                    &.item-5 {
                        width: 954 / 1446 * 100%;
                        margin-bottom: 18rem;
                        margin-top: 0rem;
                        margin-left: auto;
                        margin-right: auto;

                    }
                    &.item-6 {
                        width: 345 / 1446 * 100%;
                        margin-left: 0;;
                        margin-bottom: 1.8rem;
                        margin-top: 30rem;
    
                        & .portfolio-card__bottom {
                            max-width: 34.5rem;
                        }
                    }
                    &.item-7 {
                        width: 832 / 1446 * 100%;
                        margin-left: auto;
                        margin-right: 0;
                        margin-top: 0;
                    }
                    &.item-8 {
                        margin-top: 0;
                        width: 1196 / 1446 * 100%;
                        margin-bottom: 18rem;
                        margin-left: auto;
                        margin-right: auto;
                    }
                    &.item-9 {
                        width: 710 / 1446 * 100%;
                        margin-left: 0;
                        margin-right: auto;
                        margin-top: 33rem;
                    }
                    &.item-10 {
                        width: 710 / 1446 * 100%;
                        margin-left: auto;
                        margin-right: 0;
                        margin-top: 0;
                    }
                    &.item-11 {
                        width: 467 / 1446 * 100%;
                        margin-right: auto;
                        margin-top: 43.5rem;

                        & .portfolio-card__bottom {
                            max-width: 34.5rem;
                        }
                    }
                    &.item-12 {
                        width: 953 / 1446 * 100%;
                        margin-left: auto;
                        margin-right: 0;
                        margin-top: 0rem;
                    }
                    &.item-13 {
                        width: 1196 / 1446 * 100%;
                        margin-right: auto;
                        margin-left: auto;
                        margin-top: 0;
                    }
                    &.item-14 {
                        width: 710 / 1446 * 100%;
                        margin-right: auto;
                        margin-left: 0;
                        margin-top: 0;
                    }
                    &.item-15 {
                        width: 588 / 1446 * 100%;
                        margin-top: 22.6rem;
                        margin-left: auto;
                    }
                    &.item-16 {
                        width: 954 / 1446 * 100%;
                        margin-left: auto;
                        margin-right: auto;
                        margin-top: 0;
                    }
                    &.item-17 {
                        width: 832 / 1446 * 100%;
                        margin-bottom: 18rem;
                        margin-top: 0rem;
                        margin-left: 0;
                        margin-right: auto;

                    }
                    &.item-18 {
                        width: 345 / 1446 * 100%;
                        margin-left: auto;
                        margin-right: 0;
                        margin-bottom: 1.8rem;
                        margin-top: 7rem;
    
                        & .portfolio-card__bottom {
                            max-width: 34.5rem;
                        }
                    }
                    &.item-19 {
                        width: 1196 / 1446 * 100%;
                        margin-left: auto;
                        margin-right: auto;
                        margin-top: 0;
                    }
                    &.item-20 {
                        margin-top: 0;
                        width: 586 / 1446 * 100%;
                    }
                    &.item-21 {
                        width: 588 / 1446 * 100%;
                        margin-left: 8%;
                        margin-right: auto;
                        align-self: initial;
                        margin-top: 28rem;
                    }
                    &.item-22 {
                        width: 466 / 1446 * 100%;
                        margin-left: 10%;
                        margin-right: auto;
                        align-self: center;
                        margin-top: 0;

                        & .portfolio-card__bottom {
                            max-width: 34.5rem;
                        }
                    }
                    &.item-23 {
                        width: 709 / 1446 * 100%;
                        margin-right: 0;
                        margin-left: 0;
                        margin-bottom: 0;
                        margin-top: 0;
                    }
                    &.item-24 {
                        width: 466 / 1446 * 100%;
                        margin-left: 10%;
                        margin-right: auto;
                        margin-top: -5rem;

                        & .portfolio-card__bottom {
                            max-width: 34.5rem;
                        }
                    }
                    &.item-25 {
                        width: 1191 / 1446 * 100%;
                        margin-right: auto;
                        margin-left: 10%;
                        margin-top: 0;
                    }
                    &.item-26 {
                        width: 720 / 1446 * 100%;
                        margin-right: auto;
                        margin-left: 0;
                        margin-top: 0;
                    }
                    &.item-27 {
                        width: 588 / 1446 * 100%;
                        margin-top: 44.6rem;
                        margin-left: auto;
                    }
                    &.item-28 {
                        width: 954 / 1446 * 100%;
                        margin-left: 13%;
                        margin-right: auto;
                        margin-top: 0;
                    }
                    &.item-29 {
                        width: 467 / 1446 * 100%;
                        margin-bottom: 18rem;
                        margin-top: 34.5rem;
                        margin-left: auto;
                        margin-right: 8%;

                        & .portfolio-card__bottom {
                            max-width: 34.5rem;
                        }
                    }
                    &.item-30 {
                        width: 588 / 1446 * 100%;
                        margin-left: 0;
                        margin-bottom: 18rem;
                        margin-top: 0rem;
                        margin-right: 0;
                        align-self: initial;
                        
                    }
                    &.item-31 {
                        width: 1075 / 1446 * 100%;
                        margin-left: auto;
                        margin-right: auto;
                        margin-top: 0;
                    }
                    &.item-32 {
                        margin-top: 32.5rem;
                        width: 345 / 1446 * 100%;
                        margin-bottom: 18rem;
                        margin-left: 0;
                        margin-right: auto;

                        & .portfolio-card__bottom {
                            max-width: 34.5rem;
                        }
                    }
                    &.item-33 {
                        width: 710 / 1446 * 100%;
                        margin-left: auto;
                        margin-right: 0;
                        margin-top: 0;
                    }
                    &.item-34 {
                        width: 710 / 1446 * 100%;
                        margin-left: auto;
                        margin-right: auto;
                        margin-top: 0;
                    }
                    &.item-35 {
                        margin-top: 22rem;
                        width: 467 / 1446 * 100%;
                        margin-right: auto;
                        margin-bottom: 0;
                            
                        & .portfolio-card__bottom {
                            max-width: 34.5rem;
                        }
                    }
                    &.item-36 {
                        width: 466 / 1446 * 100%;
                        margin-left: auto;
                        margin-right: auto;
                        margin-top: 0rem;

                        & .portfolio-card__bottom {
                            max-width: 34.5rem;
                        }
                    }
                    &.item-37 {
                        width: 586 / 1446 * 100%;
                        margin-right: 10%;
                        margin-left: auto;
                        margin-top: -24rem;
                    }
                    &.item-38 {
                        width: 466 / 1446 * 100%;
                        margin-left: auto;
                        margin-right: auto;
                        margin-top: 0rem;

                        & .portfolio-card__bottom {
                            max-width: 34.5rem;
                        }
                    }
                }
    
            }
        }
    }
}



.portfolio-card {
    &__img {
        margin-bottom: 2rem;
        display: block;

        @media (max-width: $md3+px) {
            margin-bottom: 16px;
        }

        @media (min-width: 992px) {
            &:hover {
                & img {
                    transform: scale(0.8);
                }
            }
        }

        & img {
            width: 100%;
            height: auto;
            display: block;
            transition: all 0.6s ease;
        }
    }

    &__bottom {
        font-family: $titleFontFamily;
        max-width: 44.6rem;

        & > *:last-child {
            margin-bottom: 0 !important;
        }
    }

    &__title {
        font-weight: 600;
        font-size: 2rem;
        line-height: 1.33em;

        @media (max-width: $md3+px) {
            font-size: 18px;
        }
    }

    &__list {
        font-weight: 300;
        font-size: 1.6rem;
        line-height: 1.33em;
        margin-bottom: 1rem;
        padding-left: 0;

        @media (max-width: $md3+px) {
            font-size: 14px;
            margin-bottom: 8px;
        }
    }

    &__text {
        font-weight: 300;
        font-size: 1.6rem;
        line-height: 1.33em;
        font-family: $mainFontFamily;

        @media (max-width: $md3+px) {
            font-weight: 300;
            font-size: 14px;
        }
    }
}
