.product-page {
    & .painting-info__slider .swiper-slide:first-child {
        background-color: transparent;
        padding: 0 !important;
    }

    & .painting-info__slider .swiper-slide img {
        box-shadow: none !important;
    }
}

.product {
    padding-top: 4rem;
    padding-bottom: 4rem;

    @media (min-width: 992px) {
        &:first-child {
            padding-top: 2rem;
        }

        &:last-child {
            padding-bottom: 0;
        }
    }

    @media (max-width: $md3+px) {
        padding: 40px 0 0;
    }

    & .painting-info {
        padding: 0;
    }

    & .painting-info__body {
        @media (max-width: $md3+px) {
            display: flex;
            flex-direction: column-reverse;
            gap: 4rem;
        }
    }

    & .painting-info__col-1 {
        @media (max-width: $md3+px) {
            display: block;
            margin-bottom: 3rem;
        }
    }

    & .painting-info__col-2 {
        max-width: none;
    }

    & .painting-info__text {
        @media (min-width: 992px) {
            max-width: 46.6rem;
        }
    }

    & .painting-info__slider {
        & .swiper-slide {
            @media (min-width: 992px) and (max-height: 792px) {
                height: 46rem;
            }
            @media (max-width: $md3+px) {
                height: 35rem;
                
                &:first-child {
                    padding: 2.5rem;
                }
            }
        }
    }
}