.messenger {
    position: fixed;
    z-index: 48;
    right: 6rem;
    bottom: 4rem;
    color: $titlceColor;
    transition: all 0.3s ease;
    opacity: 1;
    visibility: visible;

    @media (max-width: $md1+px) {
        right: 4rem;
        bottom: 4rem;
    }
    @media (max-width: $md2+px) {
        right: 3rem;
        bottom: 3rem;
    }

    @media (max-width: $md3+px) {
        right: 1rem;
        bottom: 1rem;
    }

    &--white {
        color: #fff;
    }

    &--hide {
        opacity: 0;
        visibility: hidden;
    }

    & img,
    & svg {
        width: 3.2rem;
        height: auto;
    }
}
