.form {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    @media (max-width: $md3+px) {
        gap: 2rem;
    }

    &__title {
        margin-bottom: 2.4rem;

        @media (max-width: 399.98px) {
            font-size: 30px;
        }
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;

        @media (max-width: $md3+px) {
            gap: 16px;
        }
    }

    &__item {
        flex: 0 1 100%;

        &--half {
            @media (min-width: 768px) {
                flex: 0 1 calc(50% - 1rem);
            }
        }

        &--has-link {
            margin-top: -1rem;
        }
    }

    &__bottom {
        margin-top: 4rem;

        @media (max-width: $md3+px) {
            margin-top: 2rem;
        }
    }

    &__submit {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 1.33em;

        @media (max-width: $md3+px) {
            font-size: 14px;
        }
    }
}

.input {
    display: flex;
    align-items: center;
    width: 100%;
    background: transparent;
    border-radius: 0;
    outline: none;
    height: 3.2rem;
    padding: 0 0 0.6rem;
    border: none;
    border-bottom: 1px solid #000;
    font-size: 1.6rem;
    line-height: 1.4em;
    font-weight: 300;
    color: inherit;

    &::placeholder {
        font-size: 1.6rem;
        line-height: 1.4em;
        font-weight: 300;
        color: inherit;
    }
}
.textarea {
    display: flex;
    align-items: center;
    width: 100%;
    background: transparent;
    border-radius: 0;
    outline: none;
    height: 16.6rem;
    padding: 0 0 0.6rem;
    border: none;
    border-bottom: 1px solid #000;
    font-size: 1.6rem;
    line-height: 1.4em;
    font-weight: 300;
    resize: none;
    color: inherit;

    &::placeholder {
        font-size: 1.6rem;
        line-height: 1.4em;
        font-weight: 300;
        color: inherit;
    }

    @media (max-width: $md3+px) {
        height: 90px;
    }
}

.checkbox-radio {
    display: flex;
    align-items: center;
    position: relative;
    user-select: none;

    & input {
        position: absolute;
        z-index: -1;
        opacity: 0;
        visibility: hidden;

        &:checked ~ {
            & .checkbox-radio__square {
                background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTEiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDExIDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0wLjgwMDc4MSA0LjUzMTA3TDMuOTk2OTIgNy43MzMzMUwxMC4xMzQxIDEuNjAyMTlMOS4yNTMwMiAwLjczMzI3NkwzLjk5NjkyIDUuOTgzMjdMMS42Njk2NyAzLjY1NjA0TDAuODAwNzgxIDQuNTMxMDdaIiBmaWxsPSIjMTExMTExIi8+Cjwvc3ZnPgo=");
            }
            & .checkbox-radio__circle {
                &:before {
                    opacity: 1;
                }
            }
        }

        &.required ~ {
            & .checkbox-radio__square {
                border-color: $dangerColor;
            }
            & .checkbox-radio__circle {
                border-color: $dangerColor;
            }
        }
    }

    &__square {
        flex: 0 0 auto;
        height: 1.2rem;
        width: 1.2rem;
        border: 1px solid $mainColor;
        margin-right: 1rem;
        background-position: center;
        background-size: 85%;
        background-repeat: no-repeat;
    }

    &__circle {
        flex: 0 0 auto;
        height: 1.7rem;
        width: 1.7rem;
        border: 1px solid $mainColor;
        border-radius: 50%;
        margin-right: 1rem;
        position: relative;

        &:before {
            position: absolute;
            content: "";
            top: 50%;
            left: 50%;
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            background-color: #000;
            transform: translate(-50%, -50%);
            opacity: 0;
        }
    }

    &__text {
        font-weight: 300;
        font-size: 1.2rem;
        line-height: 1.25em;
    }

    &--md {
        & .checkbox-radio__circle {
            @media (min-width: 768px) {
                width: 2rem;
                height: 2rem;
            }
        }

        & .checkbox-radio__text {
            font-size: 1.6rem;
            line-height: 1.62em;

            @media (max-width: $md3+px) {
                font-size: 14px;
            }
        }
    }
}

.disabled {
    pointer-events: none;
    opacity: 0.3;
}
.wpcf7-not-valid,
.required  {
    color: #f86f6f;
    border-color: #f86f6f;
}

.wpcf7-not-valid-tip {
    color: #f86f6f;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.4rem;
    padding-top: 0.2rem;
}

.wpcf7 form .wpcf7-response-output {
    margin: 1.6rem 0 0 !important;
    padding: 0 !important;
    border: none !important;
    font-size: 1.6rem !important;
    line-height: 1.8rem !important;

    @media (max-width: $md3+px) {
        font-size: 14px !important;
        line-height: 16px !important;
    }
}

.wpcf7 form.invalid .wpcf7-response-output {
    color: #f86f6f;
}
