.woocommerce-pagination {
    padding-top: 6rem;
}

.woocommerce nav.woocommerce-pagination ul {
    margin: 0;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.8rem;
    line-height: 1.17em;
    font-family: $titleFontFamily;

    @media (max-width: $md3+px) {
        font-size: 16px;
    }
    @media (max-width: $md4+px) {
        font-size: 14px;
    }

    & > li {
        border: none;
    }

    & > li .page-numbers:not(.prev):not(.next) {
        &:hover {
            background-color: transparent;
        }
        &.current {
            background-color: transparent;
            text-decoration: underline;
            color: $textColor;
        }
    }

    & > li .prev {
        font-size: 0;
        font-family: 'icomoon' !important;
        background: transparent !important;
        margin-right: 2rem;

        @media (max-width: $md3+px) {
            margin-right: 1rem;
        }
        &:before {
            content: "\e902";
            font-size: 2.8rem;

            @media (max-width: $md3+px) {
                font-size: 16px;
            }
            @media (max-width: $md4+px) {
                font-size: 14px;
            }
        }
    }
    & > li .next {
        font-size: 0;
        font-family: 'icomoon' !important;
        background: transparent !important;
        margin-left: 2rem;

        @media (max-width: $md3+px) {
            margin-left: 1rem;
        }
        &:before {
            content: "\e903";
            font-size: 2.8rem;

            @media (max-width: $md3+px) {
                font-size: 16px;
            }
            @media (max-width: $md4+px) {
                font-size: 14px;
            }
        }
    }
}