.about-hero {
    background-color: $mainColor;
    color: #fff;

    &__body {
        position: relative;
    }

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;

        @media (max-width: $md2+px) {
            display: none;
        }

        --gap: 2rem;
        --width: calc(16.6666667% - (var(--gap) * 5 / 6));

        --bgItem-1: calc(19.5% - (var(--gap) * 5 / 4));
        --bgItem-2: calc(35.14% - (var(--gap) * 5 / 4));
        --bgItem-3: calc(19.5% - (var(--gap) * 5 / 4));
        --bgItem-4: calc(25.86% - (var(--gap) * 5 / 4));

        --bgItem-5: calc(21.42% - (var(--gap) * 6 / 5));
        --bgItem-6: calc(17.23% - (var(--gap) * 6 / 5));
        --bgItem-7: calc(21.42% - (var(--gap) * 6 / 5));
        --bgItem-8: calc(16.32% - (var(--gap) * 6 / 5));
        --bgItem-9: calc(23.61% - (var(--gap) * 6 / 5));

        // column 1
        --col-1-item-1: calc((200 / 860 * 100%) - (var(--gap) * 6 / 5));
        --col-1-item-2: calc((224 / 860 * 100%) - (var(--gap) * 6 / 5));
        --col-1-item-3: calc((140 / 860 * 100%) - (var(--gap) * 6 / 5));
        --col-1-item-4: calc((162 / 860 * 100%) - (var(--gap) * 6 / 5));
        --col-1-item-5: calc((134 / 860 * 100%) - (var(--gap) * 6 / 5));
        // -// column 1

        // column 2
        --col-2-item-1: calc((152 / 880 * 100%) - (var(--gap) * 5 / 4));
        --col-2-item-2: calc((245 / 880 * 100%) - (var(--gap) * 5 / 4));
        --col-2-item-3: calc((235 / 880 * 100%) - (var(--gap) * 5 / 4));
        --col-2-item-4: calc((248 / 880 * 100%) - (var(--gap) * 5 / 4));
        // -// column 2

        // column 3
        --col-3-item-1: calc((224 / 880 * 100%) - (var(--gap) * 5 / 4));
        --col-3-item-2: calc((285 / 880 * 100%) - (var(--gap) * 5 / 4));
        --col-3-item-3: calc((160 / 880 * 100%) - (var(--gap) * 5 / 4));
        --col-3-item-4: calc((211 / 880 * 100%) - (var(--gap) * 5 / 4));
        // -// column 3

        // column 4
        --col-4-item-1: calc((134 / 860 * 100%) - (var(--gap) * 6 / 5));
        --col-4-item-2: calc((162 / 860 * 100%) - (var(--gap) * 6 / 5));
        --col-4-item-3: calc((140 / 860 * 100%) - (var(--gap) * 6 / 5));
        --col-4-item-4: calc((224 / 860 * 100%) - (var(--gap) * 6 / 5));
        --col-4-item-5: calc((200 / 860 * 100%) - (var(--gap) * 6 / 5));
        // -// column 4

        // column 5
        --col-5-item-1: calc((248 / 880 * 100%) - (var(--gap) * 5 / 4));
        --col-5-item-2: calc((152 / 880 * 100%) - (var(--gap) * 5 / 4));
        --col-5-item-3: calc((245 / 880 * 100%) - (var(--gap) * 5 / 4));
        --col-5-item-4: calc((235 / 880 * 100%) - (var(--gap) * 5 / 4));
        // -// column 5

        // column 6
        --col-6-item-1: calc((211 / 880 * 100%) - (var(--gap) * 5 / 4));
        --col-6-item-2: calc((160 / 880 * 100%) - (var(--gap) * 5 / 4));
        --col-6-item-3: calc((285 / 880 * 100%) - (var(--gap) * 5 / 4));
        --col-6-item-4: calc((224 / 880 * 100%) - (var(--gap) * 5 / 4));
        // -// column 6

        &-item {
            width: var(--width);
            position: absolute;
            transition: all 0.3s ease;
            opacity: 0;

            &.hover {
                opacity: 1;
            }

            // column 1
            &:nth-child(1) {
                top: calc(var(--gap) * 1);
                height: var(--col-1-item-1);
                left: 0;
            }
            &:nth-child(2) {
                top: calc(var(--col-1-item-1) + (var(--gap) * 2));
                height: var(--col-1-item-2);
                left: 0;
            }
            &:nth-child(3) {
                top: calc((var(--col-1-item-1) + var(--col-1-item-2)) + (var(--gap) * 3));
                height: var(--col-1-item-3);
                left: 0;
            }
            &:nth-child(4) {
                top: calc((var(--col-1-item-1) + var(--col-1-item-2) + var(--col-1-item-3)) + (var(--gap) * 4));
                height: var(--col-1-item-4);
                left: 0;
            }

            &:nth-child(5) {
                top: calc((var(--col-1-item-1) + var(--col-1-item-2) + var(--col-1-item-3) + var(--col-1-item-4)) + (var(--gap) * 5));
                height: var(--col-1-item-5);
                left: 0;
            }
            // -// column 1

            // column 2
            &:nth-child(6) {
                top: calc(var(--gap) * 1);
                height: var(--col-2-item-1);
                left: calc((var(--width) * 1) + (var(--gap) * 1));
            }
            &:nth-child(7) {
                top: calc(var(--col-2-item-1) + (var(--gap) * 2));
                height: var(--col-2-item-2);
                left: calc((var(--width) * 1) + (var(--gap) * 1));
            }
            &:nth-child(8) {
                top: calc((var(--col-2-item-1) + var(--col-2-item-2)) + (var(--gap) * 3));
                height: var(--col-2-item-3);
                left: calc((var(--width) * 1) + (var(--gap) * 1));
            }
            &:nth-child(9) {
                top: calc((var(--col-2-item-1) + var(--col-2-item-2) + var(--col-2-item-3)) + (var(--gap) * 4));
                height: var(--col-2-item-4);
                left: calc((var(--width) * 1) + (var(--gap) * 1));
            }
            // -// column 2

            // column 3
            &:nth-child(10) {
                top: calc(var(--gap) * 1);
                height: var(--col-3-item-1);
                left: calc((var(--width) * 2) + (var(--gap) * 2));
            }
            &:nth-child(11) {
                top: calc(var(--col-3-item-1) + (var(--gap) * 2));
                height: var(--col-3-item-2);
                left: calc((var(--width) * 2) + (var(--gap) * 2));
            }
            &:nth-child(12) {
                top: calc((var(--col-3-item-1) + var(--col-3-item-2)) + (var(--gap) * 3));
                height: var(--col-3-item-3);
                left: calc((var(--width) * 2) + (var(--gap) * 2));
            }
            &:nth-child(13) {
                top: calc((var(--col-3-item-1) + var(--col-3-item-2) + var(--col-3-item-3)) + (var(--gap) * 4));
                height: var(--col-3-item-4);
                left: calc((var(--width) * 2) + (var(--gap) * 2));
            }
            // -// column 3

            // column 4
            &:nth-child(14) {
                top: calc(var(--gap) * 1);
                height: var(--col-4-item-1);
                left: calc((var(--width) * 3) + (var(--gap) * 3));
            }
            &:nth-child(15) {
                top: calc(var(--col-4-item-1) + (var(--gap) * 2));
                height: var(--col-4-item-2);
                left: calc((var(--width) * 3) + (var(--gap) * 3));
            }
            &:nth-child(16) {
                top: calc((var(--col-4-item-1) + var(--col-4-item-2)) + (var(--gap) * 3));
                height: var(--col-4-item-3);
                left: calc((var(--width) * 3) + (var(--gap) * 3));
            }
            &:nth-child(17) {
                top: calc((var(--col-4-item-1) + var(--col-4-item-2) + var(--col-4-item-3)) + (var(--gap) * 4));
                height: var(--col-4-item-4);
                left: calc((var(--width) * 3) + (var(--gap) * 3));
            }

            &:nth-child(18) {
                top: calc((var(--col-4-item-1) + var(--col-4-item-2) + var(--col-4-item-3) + var(--col-4-item-4)) + (var(--gap) * 5));
                height: var(--col-4-item-5);
                left: calc((var(--width) * 3) + (var(--gap) * 3));
            }
            // -// column 4

            // column 5
            &:nth-child(19) {
                top: calc(var(--gap) * 1);
                height: var(--col-5-item-1);
                left: calc((var(--width) * 4) + (var(--gap) * 4));
            }
            &:nth-child(20) {
                top: calc(var(--col-5-item-1) + (var(--gap) * 2));
                height: var(--col-5-item-2);
                left: calc((var(--width) * 4) + (var(--gap) * 4));
            }
            &:nth-child(21) {
                top: calc((var(--col-5-item-1) + var(--col-5-item-2)) + (var(--gap) * 3));
                height: var(--col-5-item-3);
                left: calc((var(--width) * 4) + (var(--gap) * 4));
            }
            &:nth-child(22) {
                top: calc((var(--col-5-item-1) + var(--col-5-item-2) + var(--col-5-item-3)) + (var(--gap) * 4));
                height: var(--col-5-item-4);
                left: calc((var(--width) * 4) + (var(--gap) * 4));
            }
            // -// column 5

            // column 6
            &:nth-child(23) {
                top: calc(var(--gap) * 1);
                height: var(--col-6-item-1);
                left: calc((var(--width) * 5) + (var(--gap) * 5));
            }
            &:nth-child(24) {
                top: calc(var(--col-6-item-1) + (var(--gap) * 2));
                height: var(--col-6-item-2);
                left: calc((var(--width) * 5) + (var(--gap) * 5));
            }
            &:nth-child(25) {
                top: calc((var(--col-6-item-1) + var(--col-6-item-2)) + (var(--gap) * 3));
                height: var(--col-6-item-3);
                left: calc((var(--width) * 5) + (var(--gap) * 5));
            }
            &:nth-child(26) {
                top: calc((var(--col-6-item-1) + var(--col-6-item-2) + var(--col-6-item-3)) + (var(--gap) * 4));
                height: var(--col-6-item-4);
                left: calc((var(--width) * 5) + (var(--gap) * 5));
            }
            // -// column 6
        }
    }

    &__content {
        position: relative;
        z-index: 2;
        padding: 13rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: $titleFontFamily;
        pointer-events: none;
        min-height: 100vh;

        @media (max-width: $md2+px) {
            padding-bottom: 20rem;
        }
    }

    &__title {
        text-align: center;
        font-weight: 300;
        font-size: 7rem;
        line-height: 1.29em;
        margin: 0 auto;
        max-width: 141rem;

        @media (max-width: $md2+px) {
            font-size: 5rem;
        }

        @media (max-width: $md3+px) {
            font-weight: 300;
            font-size: 30px;
            line-height: 38px;
        }
    }

    &__anchor {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 3;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 20rem;
        font-weight: 400;
        font-size: 2.4rem;
        line-height: 1.33em;
        font-family: $titleFontFamily;

        @media (max-width: $md2+px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1.7rem;
        }

        @media (max-width: $md3+px) {
            font-size: 18px;
            line-height: 24px;
            justify-content: flex-start;
            height: 170px;
        }

        & img,
        & svg {
            width: 6rem;
            height: auto;

            @media (max-width: $md3+px) {
                width: 4rem;
            }
            @media (min-width: 992px) {
                display: none;
            }
        }
    }
}
