

.select {
	&__item {
		position: relative;
	}
	// .select__title
	&__title {
	}
	// .select__value
	&__value {
		padding-right: 2.5rem;
		min-height: 3.2rem;
		border-bottom: 1px solid $mainColor;
		display: flex;
		align-items: center;
		padding: 0 0 0.6rem;

		span {
			font-size: 1.6rem;
			line-height: 1.4em;
			font-weight: 300;
			color: #000;
			font-family: $mainFontFamily;
		}
		&:before {
			font-family: "icomoon" !important;
			position: absolute;
			content: "\e910";
			transition: all 0.3s ease 0s;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
			color: #000 !important;
		}
	}
	&__input {
		width: 100%;
		background-color: transparent;
		height: 100%;
	}
	// .select__options
	&__options {
		display: none;
		position: absolute;
		top: calc(100% + 0.3rem);
		min-width: 100%;
		left: 0;
		background-color: #fff;
		max-height: 31.5rem;
		overflow-y: auto;
		padding-top: 0.4rem;
		padding-bottom: 0.4rem;
		border: 1px solid $mainColor;
		z-index: 5;
	}
	// .select__option
	&__option {
		cursor: pointer;
		font-weight: 400;
		font-size: 1.4rem;
		line-height: 1.2em;
		display: flex;
		align-items: center;
		min-height: 3rem;
		transition: all 0.3s ease;
		padding: 0.8rem 1.4rem;
		color: #000 !important;

		@media (min-width: 992px) {
			&:hover {
				color: $hover;
				background: #fff;
			}
		}
	}
	&._active {
		z-index: 5;
		.select__value {
			&:before {
				transform: translateY(-50%) scale(1, -1);
			}
		}
		.select__options {
			display: block;
		}
	}
}

.required {
	& .select__value {
		border-color: $dangerColor;
	}
	& .select__value span {
		color: $dangerColor;
	}
}